.Menu {
  text-align: center;
}

.Menu-logo {
  height: 40vmin;
}

.Menu-header {
  padding: 20px;
  border-top: 2px solid #F25050;
  border-bottom: 1px solid #F2F2F2;
}

.Menu-title {
  font-weight: bold;
  color: #F25050;
  font-size: 35px;
}

.Menu-menu-item {
  font-weight: bold;
  margin-right: 35px;
  font-size: 16px;
}

.Menu-menu-button {
  min-width: 125px;
  height: 40px;
  border-radius: 20px;
  background-color: #F25050;
  text-align: center;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  position: relative;
}

.Menu-link {
  color: #09d3ac;
}
